RewriteEngine on
DirectoryIndex index.php index.html
RewriteBase /path-to-folder
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^home/?$ index.php
RewriteRule ^news/?$ pages/news.php
RewriteRule ^news/[1-9]{1}[0-9]*/?$ pages/news.php
RewriteRule ^news/id/[1-9]{1}[0-9]*/?$ pages/news-open.php
RewriteRule ^contact/?$ pages/contact.php
RewriteRule ^bookmarks/?$ pages/bookmarks.php
RewriteRule ^html/bookmarks/?$ pages/bookmarks-html.php
RewriteRule ^bookmarks/[1-9]{1}[0-9]*/?$ pages/bookmarks.php
RewriteRule ^bookmarks/new/?$ pages/bookmarks.php
RewriteRule ^bookmarks/up/[1-9]{1}[0-9]*/?$ pages/bookmarks.php
RewriteRule ^bookmarks/down/[1-9]{1}[0-9]*/?$ pages/bookmarks.php
RewriteRule ^bookmarks/edit/[1-9]{1}[0-9]*/?$ pages/bookmarks.php
RewriteRule ^bookmarks/delete/[1-9]{1}[0-9]*/?$ pages/bookmarks.php
RewriteRule ^notes/?$ pages/notes.php
RewriteRule ^html/notes/?$ pages/notes-html.php
RewriteRule ^notes/[1-9]{1}[0-9]*/?$ pages/notes.php
RewriteRule ^notes/id/[1-9]{1}[0-9]*/?$ pages/notes-open.php
RewriteRule ^notes/new/?$ pages/notes-new.php
RewriteRule ^notes/lock/[1-9]{1}[0-9]*/?$ pages/notes.php
RewriteRule ^notes/unlock/[1-9]{1}[0-9]*/?$ pages/notes.php
RewriteRule ^notes/up/[1-9]{1}[0-9]*/?$ pages/notes.php
RewriteRule ^notes/down/[1-9]{1}[0-9]*/?$ pages/notes.php
RewriteRule ^notes/edit/[1-9]{1}[0-9]*/?$ pages/notes-edit.php
RewriteRule ^notes/delete/[1-9]{1}[0-9]*/?$ pages/notes.php
RewriteRule ^calendar/?$ pages/calendar.php
RewriteRule ^calendar/[0-9]{4}/[0-9]{1,2}/?$ pages/calendar.php
RewriteRule ^calendar/event/new/?$ pages/event-new.php
RewriteRule ^myaccount/?$ pages/myaccount.php
RewriteRule ^order/?$ pages/pricing-table.php
RewriteRule ^signin/?$ pages/signin.php
RewriteRule ^logout/?$ pages/logout.php
RewriteRule ^joinnow/?$ pages/joinnow.php
RewriteRule ^activate/?$ pages/activate.php
RewriteRule ^activate/\?user\=[A-Za-z0-9_-]*\&key\=[A-Za-z0-9]*/?$ pages/activate.php
RewriteRule ^reset-password/?$ pages/reset-password.php
RewriteRule ^regulations/?$ pages/regulations.php
RewriteRule ^privacy-policy/?$ pages/privacy-policy.php
RewriteRule ^report-mistake/?$ pages/report-mistake.php
RewriteRule ^404/?$ 404.php
RewriteRule ^ap/?$ admin/start.php
RewriteRule ^ap/settings/?$ admin/settings.php
RewriteRule ^ap/news/?$ admin/news.php
RewriteRule ^ap/news/new/?$ admin/news.php
RewriteRule ^ap/news/edit/[1-9]{1}[0-9]*/?$ admin/news.php
RewriteRule ^ap/news/delete/[1-9]{1}[0-9]*/?$ admin/news.php
RewriteRule ^ap/users/?$ admin/users.php
RewriteRule ^ap/users/activate/[1-9]{1}[0-9]*/?$ admin/users.php
RewriteRule ^ap/users/edit/[1-9]{1}[0-9]*/?$ admin/users.php
RewriteRule ^ap/users/lock/[1-9]{1}[0-9]*/?$ admin/users.php
RewriteRule ^ap/users/unlock/[1-9]{1}[0-9]*/?$ admin/users.php
RewriteRule ^ap/users/delete/[1-9]{1}[0-9]*/?$ admin/users.php
RewriteRule ^ap/message/?$ admin/message.php
RewriteRule ^ap/logs/?$ admin/logs.php
ErrorDocument 404 /404.php